{% extends "base.html" %} {% block content1 %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'books' %}">All books</a></li>
        <li><a href="{% url 'authors' %}">All authors</a></li>
      </ul>
      {% endblock %}
    </div>
    <div class="col-sm-10">
      {% block content %}{% endblock %} {% block pagination %}
      <div>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ page_obj.previous_page_number }}"
              >Previous</a
            >
          </li>
          {% else %}
          <li class="page disabled">
            <span class="page-link">Previous</span>
          </li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
              >Next</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock content1 %}
